$A1: #69D2E7;
$A2: #A7DBDB;
$A3: #E0E4CC;
$A4: #F38630;
$A5: #FA6900;
$B1: #E94C6F;
$B2: #542733;
$B3: #5ABA62;
$B4: #C6D5CD;
$B5: #FDF200;
$C1: #DB3340;
$C2: #E8B71A;
$C3: #F7EAC8;
$C4: #1FDA9A;
$C5: #28ABE3;
$D1: #588C73;
$D2: #F2E394;
$D3: #F2AE72;
$D4: #D96459;
$D5: #8C4646;
$E1: #D0C91F;
$E2: #85C489;
$E3: #008BBA;
$E4: #DF514C;
$E5: #DC403B;
